/* CSS Document */
@import "./fonts.css";

.block {
	float:left;
	text-align: justify;
	box-shadow: 10px 10px 30px 2px #96d1f8;
	border-radius: 10px;
	font-family: 'abeatbyKai';
	padding: 10px;
	width: 90px;
	margin: 20px;
}
img {
	vertical-align:top;
}