/* CSS Document */
@import "./fonts.css";

* {
	font-family: 'UbuntuLatin'
}

.presentazione {
	font-size: 120%
}
.Containing {
	padding-top: 11px;
}
.person {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100vw;
	padding: 30px;
	border-radius: 20px;
	
}

.person p {
	margin: 0;
	font-family: 'abeatbyKai';
	text-align: left;
	vertical-align: middle;
	position:relative;
	font-size: 3vw;
	display:inline-block;	
	width: 400px;
	padding: 30px;
	height: 100%;
}

.sx {
	float:left;
	background-color:#3f66ff;
}

.dx {
	float:right;
}
.person img {
	border-radius: 20px;
	box-shadow: 0px 5px 20px -5px black;
	vertical-align: middle;
}
