/* CSS Document */
@import "./fonts.css";

.presentazione {
	font-size: 120%
}
.person {
	display: inline-block;
	position: relative;
	text-align: center;
	padding-top: 5px;
}

.person p {
	text-align: left;
	margin: 0 auto;
	position:relative;
	font-size: 110%;
	line-height: 90%;
	display:inline-block;	
	width: 500px;
}

.groups {
	padding-top: 5%;
	font-size: 250%;
}
