@import "/css/fonts.css";

* {
	font-family: 'abeatbyKai';
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%
}
.fake-content {
  height: 200vh;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 50px 20px;
  font-size: 20px;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #97acfc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3f66ff; 
}
::-webkit-scrollbar-thumb:active {
  background: #3a54ba; 
}


/*Navbar style*/
.main-navigation {
    clear: both;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    background: white;
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: -30px;
	padding:  20px;
	box-shadow: 0px 5px 5px -5px black;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navigation li {
    display: inline-block;
    position: relative;
    line-height:43px;
    font-size:18px;
    text-transform: initial;
    white-space: nowrap;
}


/*DEFINIZIONE DEI FONT*/
.main-navigation a {
    display: block;
    text-decoration: none;
    color: black;
	font-weight: bold;
    padding: 0 18px;
	background-image: url("../img/separator.png");
	background-size: 7px;
	background-position: right;
	background-repeat: no-repeat;
	position: relative;
	top: 14px;
}

.main-navigation li:last-child a {
	background: none;
}

.main-navigation a:hover {
    display: block;
    text-decoration: none;
    color: #3f66ff;
    padding: 0 18px;
	transition: 0.3s;
	
}

.main-navigation a.active {
    display: block;
    text-decoration: none;
    color: #3f66ff;
    padding: 0 18px;
	transition: 0.3s;
	
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    position: absolute;
    z-index: 99999;
    background: #FFF;
    top: 100%;
    border-bottom: 3px solid #e92121;
    border-top: 3px solid #e92121;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}


.cursor {
	white-space: nowrap;
	position: absolute;
	top: -92px;
	left:450px;
	font-size: 120px;
	font-weight: bold;
}
.cursor .fixed{
	white-space: nowrap;
	font-size: 121px;
	font-weight: bold;
}
.cursor .animation{
	white-space: nowrap;
	position: relative;
	left:-50px;
	padding-top: 20px;
	padding-right: 10px;
	
	font-size: 121px;
	font-weight: normal;
	overflow-x: hidden;

}


.blinker{
	
	white-space: nowrap;
	display: block;
	position: absolute;
    top: -150px; right: 0; bottom: 0; left: 0;
	background-image: url("../img/cursor.png");
	background-repeat: no-repeat;
	background-size: 0.5vw 6vw;
	background-position: 95%;
	overflow-x: hidden;
	opacity: 1;
}

.blinkeractive{
	
	white-space: nowrap;
	display: block;
	position: absolute;
    top: -150px; right: 0; bottom: 0; left: 0;
	background-image: url("../img/cursor.png");
	background-repeat: no-repeat;
	background-size: 0.5vw 6vw;
	background-position: 95%;
	overflow-x: hidden;
    animation: cursoranimation 0.5s infinite;
}

@keyframes cursoranimation {
	10%{opacity: 1;}
	49%{opacity: 1;}
	60%{opacity: 0;}
	100%{opacity: 0;}
}

.logo {
	position: absolute;
	padding-top: 30px;
	padding-left: 100px;
	
	top: -170%;
	left: 0%;
}

.logofixed {
	padding-top: 0px;
	padding-left: 0px;
	opacity: 0;
}
/*Eyes css*/
.move-area{
  width: 100vw;
  height: 100vh;
  padding: 10% 45%;
}
.container {
  width: 100%;
}

#eye {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
	opacity:  0;
  border-radius: 50%;
  content: " ";
  margin: 0 0px;
  top: -60px;
	left: 157px;
}
.pupil {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../img/circle.png");
  background-position: 0% 50%;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  margin: 0 0px;
  left: 160px;
  top: -50px;
  opacity: 0;
  animation:blinking 10s infinite;
}

@keyframes blinking{
    0%{     background-size: 100% 100%;; background-position: 0% 0%;}
	48%{    background-size: 100% 100%;; background-position: 0% 0%;}
	49%{    background-size: 100% 0%;; background-position: 0% 50%;}
    50%{    background-size: 100% 100%;; background-position: 0% 0%;}
	51%{    background-size: 100% 100%;; background-position: 0% 0%;}
    52%{    background-size: 100% 0%;; background-position: 0% 50%;}
    53%{    background-size: 100% 100%;; background-position: 0% 0%;}
    100%{   background-size: 100% 100%;; background-position: 0% 0%;}
}





