/* CSS Document */
@import "./fonts.css";

.ourproject {
	background-image: url("../img/sfondo.png");
	display:inline-block;	
	position: relative;
	width: 100%;
	box-shadow: 0px 5px 20px -5px black;
	text-align: center;
	background-size: cover;
}
.ourproject p {
	text-align: left;
	margin: 0 auto;
	color: white;
	font-family: 'abeatbyKai';
	font-size: 1000%;
	line-height: 90%;
	display:inline-block;	
	width: 500px;
}

.ourproject img {
	vertical-align: none!important;
}

.container {
	float: left;
	color: white;
	overflow: hidden;
	position: relative;
	text-align: center;
	align-content: center;
	display:inline-block;
	width: 100%;
	height: 200px;
	background-color: #3f66ff;
	padding: 0;
	margin: 0 0;

}
.containercontainer {
	width: 100%;
	box-shadow: 0px 5px 20px -5px black;
	height: 200px;

}

.container .divtitle {
	
	font-weight: bold;
	font-size: 20px;
	line-height: 00%;	
}
.container .textbody {
	padding-left: 20px;
	padding-right: 20px;
}

.even {	
	background-color: black;
}

.container .fa {
	padding-top: 10px;
	font-size: 30px;
}
@media (min-width:901px){
	.container{
		width:24.99999%;
	}
}

.naoamico {
	position: relative;
	top: 200px;
	width: 100%;
	height: 600px;
	background-image: url("../img/naoamico.png");
	background-size: cover;
  	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}

.naoamico{
 position: relative;
 height: 400px; 
 width: 100%;
 overflow: hidden;
	top: 0px;
}
.naoamico .naoimage {
	position: relative;
	top: -200px;
}
.naoamico .backdrop {
	float: right;
	width: 50%;
	height: 100%;
	background-color: black;
	z-index: 10;
	opacity: 50%;
	color:white;
}

.naoamico .backdrop p {
	padding: 25px;
	font-family: 'abeatbyKai';
	font-size: 50px;
	text-align: center;
	top: 10px;
	opacity: 1;
}