.main-navigation {
    clear: both;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    background: white;
	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: -30px;
	padding:  20px;
	box-shadow: 0px 5px 5px -5px black;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navigation li {
    display: inline-block;
    position: relative;
    line-height:43px;
    font-size:18px;
    text-transform: initial;
    white-space: nowrap;
}


/*DEFINIZIONE DEI FONT*/
.main-navigation a {
    display: block;
    text-decoration: none;
    color: black;
	font-weight: bold;
    padding: 0 18px;
	background-image: url("../img/separator.png");
	background-size: 7px;
	background-position: right;
	background-repeat: no-repeat;
	position: relative;
	top: 14px;
}

.main-navigation li:last-child a {
	background: none;
}

.main-navigation a:hover {
    display: block;
    text-decoration: none;
    color: #3f66ff;
    padding: 0 18px;
	transition: 0.3s;
	
}

.main-navigation a.active {
    display: block;
    text-decoration: none;
    color: #3f66ff;
    padding: 0 18px;
	transition: 0.3s;
	
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    position: absolute;
    z-index: 99999;
    background: #FFF;
    top: 100%;
    border-bottom: 3px solid #e92121;
    border-top: 3px solid #e92121;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}


.cursor {
	position: absolute;
	top: -92px;
	left:450px;
	font-size: 120px;
	font-weight: bold;
}
.cursor .fixed{
	white-space: nowrap;
	font-size: 121px;
	font-weight: bold;
}
.cursor .animation{
	white-space: nowrap;
	position: relative;
	left:-50px;
	padding-top: 20px;
	padding-right: 10px;
	
	font-size: 121px;
	font-weight: normal;
	overflow-x: hidden;


}


.blinker{
	display: block;
	position: absolute;
    top: -150px; right: 0; bottom: 0; left: 0;
	background-image: url("../img/cursor.png");
	background-repeat: no-repeat;
	background-size: 13px;
	background-position: 95%;
	overflow-x: hidden;
    animation: cursoranimation 1s infinite;

}

@keyframes cursoranimation {
	10%{opacity: 1;}
	49%{opacity: 1;}
	60%{opacity: 0;}
	100%{opacity: 0;}
}

