@font-face {
    font-family: 'abeatbyKai';
    src: url('https://firestorm7893.github.io/oan/css/AbeatbyKai.eot');
    src: url('https://firestorm7893.github.io/oan/css/AbeatbyKai.eot?#iefix') format('embedded-opentype'),
        url('https://firestorm7893.github.io/oan/css/AbeatbyKai.woff2') format('woff2'),
        url('https://firestorm7893.github.io/oan/css/AbeatbyKai.woff') format('woff'),
        url('https://firestorm7893.github.io/oan/css/AbeatbyKai.ttf') format('truetype'),
        url('https://firestorm7893.github.io/oan/css/AbeatbyKai.svg#AbeatbyKai') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'abeatbyKai';
}